

@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

$font-family-sans-serif-2: 'Poppins', sans-serif;
$font-family-serif: 'Source Serif Pro', serif;

$breakpoints: (
    "sm": "screen and (min-width: 400px)",
    "md": "screen and (min-width: 768px)",
    "lg": "screen and (min-width: 1000px)",
    "xl": "screen and (min-width: 1200px)",
) !default;

@mixin mq($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

body {
	font-family: $font-family-sans-serif;
	
}
p {
	color: darken(#ccc, 20%);
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $font-family-sans-serif;
}
a {
	transition: .3s all ease;
	&, &:hover {
		text-decoration: none!important;
	}
}

.scroll-box {
	margin: 0;
}

/*スクロールボタンの指定*/
.scroll{
	position: relative;
	width: 100%;
	bottom: 0;
	text-align: center;
	a{
		position: relative;
		display: inline-block;
		font-size: 15px;
		font-weight: bold;
		color: #23272b;
		text-decoration: none;
		padding: 0 0 30px;
		/*矢印を作成する*/
		&:before{
			content: "";
			position: absolute;
			width: 10px;
			height: 10px;
			left: 0;
			right: 0;
			bottom: 25px;
			margin: auto;
			border-bottom: 2px solid #23272b;
			border-right: 2px solid #23272b;
			transform: rotate(45deg);
			animation: move 2s infinite;
		}
	}
}

/*矢印をアニメーションする*/
@keyframes move {
	0% {
		transform: rotate(45deg) translate(0, 0);
	}
	20% {
		transform: rotate(45deg) translate(10px, 10px);
	}
	40% {
		transform: rotate(45deg) translate(0, 0);
	}
}

.top-scroll{
	position: relative;
	width: 100%;
	bottom: 0;
	text-align: center;
	vertical-align: bottom;
	a{
		position: relative;
		display: inline-block;
		font-size: 15px;
		font-weight: bold;
		color: #23272b;
		text-decoration: none;
		padding: 10px 0 0;
		/*矢印を作成する*/
		&:before{
			content: "";
			position: absolute;
			width: 10px;
			height: 10px;
			left: 0;
			right: 0;
			top: 0px;
			margin: auto;
			border-bottom: 2px solid #23272b;
			border-right: 2px solid #23272b;
			transform: rotate(225deg);
			animation: top-move 2s infinite;
		}
	}
}

/*矢印をアニメーションする*/
@keyframes top-move {
	0% {
		transform: rotate(225deg) translate(0, 0);
	}
	20% {
		transform: rotate(225deg) translate(10px, 10px);
	}
	40% {
		transform: rotate(225deg) translate(0, 0);
	}
}

.content {
	padding: 0 0;
}
.container {
	height: 100vh;
	padding: 2vh;
}
.container.shop-link {
    padding: 30vh 0;
}
h2 {
	font-size: 25px;
}

.owl {
	.owl-nav {
		width: 100%;
		position: absolute;
		top: 50%;
		
		.owl-next,
		.owl-prev {
			border: 1px solid red;
			z-index: 92;
			position: absolute;
			top: 50%;
			&:active, &:focus {
				outline: none;
			}
			span {
				color: $white;
				&:before {
					font-size: 40px!important;
				}
			}
		}
		.owl-next {
			border: 4px solid blue;
			right: 20px;
		}
		.owl-prev {
			left: 20px;
		}
	}
	.owl-dots {
		position: absolute;
		bottom: 40px;
		left: 50%;
		transform: translateX(-50%);
		.owl-dot {
			background: none;
			display: inline-block;
			> span {
				display: inline-block;
				width: 7px;
				height: 7px;
				border-radius: 50%;
				background: rgba($white, .5);
				margin: 4px;
			}
			&.active {
				> span {
					background: rgba($white, 1);
				}
			}
			&:active, &:focus {
				outline: none;
			}
		}
	}
}

.media-29101 {

	.img {
		flex: 0 0 50%;
		// @include media-breakpoint-down(md) {
		// 	flex: 0 0 100%;
		// 	display: block;
		// }
	}
	img {
		object-fit: contain;
		max-height: 40vh;
		@include mq(lg) {
			max-height: 75vh;
			margin: 15px 0;
		}
	}
	.text {
		padding: 50px;
		@include media-breakpoint-down(md) {
			padding: 20px;
			width: 100%;
		}
		.category {
			color: $gray-500;
			text-transform: uppercase;
			font-size: 12px;
			font-weight: bold;
			letter-spacing: .2rem;
		}
		h2 {
			font-family: "Playfair Display", times, serif;
			font-size: 2rem;
			line-height: 1.3;
			margin-bottom: 30px;
			a {
				color: $black;
			}
		}
	}
}

.carousel-nav {
	width: 100%;
	border-bottom: 1px solid #ccc;
	a {
		color: #999;
		padding: 10px;
		text-align: center;
		display: inline-block;
		&:hover {
			color: #000;
		}
		&.active {
			color: #000;
			&:before {
				content: "";
				bottom: -1px;
				left: 0;
				right: 0;
				position: absolute;
				border-bottom: 1px solid #000;
			}
		}
	}
}